name: proxy_setting_android
description: Android implementation of the detect_proxy_setting plugin.
repository: https://github.com/ueki-tomohiro/proxy_setting/tree/main/packages/proxy_setting_android
version: 0.0.5

environment:
  sdk: ">=2.12.0 <3.0.0"
  flutter: ">=2.5.0"

flutter:
  plugin:
    implements: detect_proxy_setting
    platforms:
      android:
        package: jp.playon.proxy_setting_android
        pluginClass: ProxySettingPlugin
        dartPluginClass: ProxySettingAndroid
 
dependencies:
  flutter:
    sdk: flutter
  proxy_setting_platform_interface: ^0.0.2

dev_dependencies:
  flutter_test:
    sdk: flutter
  test: ^1.16.3
